<p id="notice"><%= notice %></p>

<p>
  <%= @artist.name %> | Artist  <%= link_to 'Edit', edit_admin_artist_path(@artist) %>
</p>

<p>
  <strong>Bio:</strong><br>
  <%= @artist.bio %>
</p>

<p>
	<strong>Members:</strong><br>
  <% @artist.musicians.each do |musician| %>
    <h4><%= musician.name %></h4>
    <p><%= musician.instrument %></p>
  <% end %>
</p>


<p>
	Albums
	<% @albums.each do |album| %>
		<p><%= link_to album.name, album %></p>
	<% end %>
</p>

<%= link_to 'Back', albums_path %>
<%= link_to "Add An Album", new_album_path %>