<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @artist.city %>
</p>

<p>
  <strong>Url:</strong>
  <%= @artist.url %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @artist.bio %>
</p>

<% @albums.each do |album| %>
	<p><%= link_to album.name, album %></p>
<% end %>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
