<p id="notice"><%= notice %></p>

<p>
  <%= @artist.name %> | Artist  <%= link_to 'Edit', edit_artist_path(@artist) %>
</p>

<p>
  <strong>City:</strong>
  <%= @artist.city %>
</p>

<p>
  <strong>Url:</strong>
  <%= @artist.url %>
</p>

<p>
  <strong>Bio:</strong><br>
  <%= @artist.bio %>
</p>

<p>
	Members
</p>

<p>
	Albums
	<% @albums.each do |album| %>
		<p><%= link_to album.name, album %></p>
	<% end %>
</p>

<%= link_to 'Back', artists_path %>