<p><%= link_to "Edit Musician", edit_admin_musician_path(@musician.id) %></p>
<div class="bodyContainer">

        <div class="rowWrapper flex margin-top margin-left margin-right-big"">
            <div class="searchBox search flex">
                    <form action="">
                        <input method="" name="" type="text" placeholder="Search for an album, artist or track..." class="search__input padding-10" id="search" required><span class="icons icons--search color-light-grey"></span>
                    </form>
            </div>

            <span class="share">
                <span class="share__text font-oswald color-mid-grey">SHARE THIS MUSICIAN</span>
                <span class="icons icons--twitter color-dark-grey"></span>
                <span class="icons icons--fb color-dark-grey"></span>
            </span>
        </div>


        <div class="contentContainer flex">
            <div class="leftContainer flex margin-top margin-left margin-btm">

                <div class="pageTitle">
                    <div class="pageTitle__text color-white">
                        <%= @musician.name %> <span class="filterType"> | Musician</span><span class="editEntry"> | EDIT MUSICIAN</span>
                    </div>
                </div>

                <div class="artistImgContainer">
                	<%= image_tag "#{@img}" %>
                </div>
                
                <div class="line margin-top">
                </div>

                <div class="artistInfoWrapper flex">
                    <div class="artistInfoTitle">
                        ALBUMS
                    </div>

                <div class="sortText color-light-grey">
                    SORT
                </div>

                <div class="sortBy">
                    <select>
                        <option value="newToOld">UPLOAD DATE, NEW TO OLD</option>
                        <!-- Ask what other options records should be able to be sorted by -->
                    </select>
                </div>
                </div>

                <div class="line">
                </div>
                
                <div class="margin-top flex populateAlbums">
                    <% @albums.each do |album| %>
                    <div class="album">                        
                        <div class="album__albumName color-dark-grey">
                            <%= album.name %>
                        </div>

                        <div class="album__artistName color-dark-grey">
                            <%= Artist.find(album.artist_id).name %>
                        </div>
                    </div>
                        <% end %>
                    </div>

            </div>

             <div class="filterOptions flex margin-sm margin-right-big">
                <div class="filterTitle">
                    <div class="filterTitle__text">
                        CITIES
                    </div>
                </div>
                <div class="filterWrapper">
                    <% @array_of_cities.each do |city| %>
                    <div>
                      <%= link_to "#{city} (#{@hash_of_city_albums_count[city]})", root_path(:city => city), :class => "filterText color-mid-grey" %>
                    </div>
                  <% end %>
                    
                </div>

                <div class="filterTitle">
                    <div class="filterTitle__text">
                        GENRES
                    </div>
                </div>
                <div class="filterWrapper">
                    <% @genres.each do |name, count| %>
                    <div>
                        <%= link_to "#{name} (#{count})", root_path(:genre => name), :class => "filterText color-mid-grey" %>
                    </div>
                    <% end %>
                </div>

                <div class="filterTitle">
                    <div class="filterTitle__text">
                        DECADES
                    </div>
                </div>
                <div class="filterWrapper">
                    <div class="filterText color-mid-grey">
                        Text
                        <!-- List of decades will need to be dynamically populated -->
                    </div>
                </div>

                <div class="filterTitle">
                    <div class="filterTitle__text">
                        FORMAT
                    </div>
                </div>
                <div class="filterWrapper">
                    <% @format.each do |name, count| %>
                    <div>
                        <%= link_to "#{name} (#{count})", root_path(format: name), :class => "filterText color-mid-grey" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

    </div>