<h1>All Albums</h1>

<table>

	<thead>
		<tr>
			<th>Title</th>
		</tr>
	</thead>

	<tbody>
		<% if !params[:genre] %>
			<% @albums.each do |album| %>
				<tr id="album_<%= album.id %>">
					<td><%= album.name %></td>
					<td><%= link_to "Details", album_path(album.id) %></td>
				</tr>
			<% end %>
		<% else %>
			<% @genres.each do |album| %>
				<tr>
					<td><%= album.name %></td>
					<td><%= link_to "Details", album_path(album.id) %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>


<%= paginate @albums %>

<% Album.uniq.pluck(:genre).each do |genre| %>

		<div>
			<%= link_to genre, albums_path(genre: genre) %><br>
		<div>

<% end %>



<%= link_to "Add An Album", new_album_path %>