<h1>All Albums</h1>

<a href="/albums"> All </a>
<a href="/albums?sort=LP"> LP </a>
<a href="/albums?sort=EP"> EP </a>
<a href="/albums?sort=Single"> Single </a>

<table>

	<thead>
		<tr>
			<th>Title</th>
		</tr>
	</thead>

	<tbody>
		<% @albums.each do |album| %>
			<tr id="album_<%= album.id %>">
				<td><%= album.name %></td>
				<td><%= Artist.find(album.artist_id).name %></td>
				<td><%= link_to "Details", album_path(album.id) %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<% @genres.each do |genre| %>

		<div>
			<%= link_to genre, albums_path(genre: genre) %><br>
		<div>

<% end %>



<%= link_to "Add An Album", new_album_path %><br>
<%= link_to "All Albums", albums_path %>