<%= form_for(@album) do |form| %>

<div>
	<%= form.label "Album Title" %><br>
	<%= form.text_field :name %>
</div>

<%= form.fields_for :artist do |artist| %>

<div>
	<%= artist.label "Artist Name(s)" %><br>
	<%= artist.text_field :name %>
</div>

<% end %>

<div>
	<%= form.submit %>
</div>

<% end %>